html, body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headerBar {
    margin: 10px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#googleAppsMenu {
    position: absolute;
    right: 0px;
    margin: 0 20px;
    border: 1px solid black;
    width: 300px;
}

#googleAppsList {
    margin: 0;
    border: 1px solid black;
    list-style: none;
    display: grid;
    justify-items: stretch;
    align-items: stretch;
    justify-content: center;
    grid-template-columns: auto auto auto;
    align-content: center;
}

.googleAppsListElem {

}

#googleApps {
    margin: 5px;
    margin-right: 20px;
    opacity: 0.5;
    display: inline-flex;
    border-radius: 50px;
    padding: 10px;
}

#googleApps:hover {
    background-color: rgba(60,64,67,0.08);
    cursor: pointer;
}

#googleApps:active {
    background-color: rgba(60,64,67,0.12);
}

#appsLogo {
    
    /*width: 12px;*/
}

.headerLink {
    margin: 10px;
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.headerLink:hover {
    text-decoration: underline;
}

#headerLoginLink {
    
}

#headerLoginButton {
    background-color: #1a73e8;
    color: white;
    padding: 10px 30px;
    font-size: 14px;
    border: none;
    border-radius: 3px;
}

#headerLoginButton:hover {
    background-color: rgb(43, 125, 233);
    cursor: pointer;
    box-shadow: 0 1px 2px rgb(43, 125, 233);
}

#headerLoginButton:active {
    background-color: rgb(99, 160, 239);
    box-shadow: 0 1px 2px rgb(99, 160, 239);
}

#content {
    /*border: 1px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainForm {
    /*margin: auto;
    width: 60%;*/
    /*border: 1px solid black;*/
    text-align: center;
    flex-grow: 1;
}

#googleLogo {
    display: block;
    margin: auto;
}

#searchLogo {
    opacity: 0.4;
    width: 20px;
    position: absolute;
    top: 40%;
    left: 15px;
    /*top: 10%;*/
}

#searchInputDiv {
    display: inline-flex;
    /*border: 1px solid black;*/
    position: relative;
    width: 30%;
    min-width: 500px;
    text-align: center;
    /*width:available;*/
    /*height: min-content;*/
}

#searchInput:focus-visible, #searchInput:hover {
    outline: none;
    border: 1px solid white;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

#searchInput {
    border: 1px solid lightgray;
    border-radius: 50px;
    margin: 20px 0;
    padding: 0 50px;
    font-size: 16px;
    width: 100%;
    height: 40px;
}

.mainFormButton {
    font-size: 14px;
    color: #3C4043;
    padding: 10px 15px;
    background-color: #F8F9FA;
    border: 1px solid white;
    border-radius: 5px;
}

.mainFormButton:hover {
    border: 1px solid silver; /* ??*/
    box-shadow: 0 2px 1px silver;
    cursor: pointer;
}

.mainFormButton:focus {
    border: 1px solid blue;
}

.footerContent {
    padding: 5px;
    background-color: rgba(220, 220, 220, 0.5);
}

.horizontalLine {
    opacity: 0.4;
}

#country {
    margin: 10px 20px;
    color: dimgray;
}

.bottomFooter {
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    justify-content: space-between;
}

.bottomFooterLink {
    margin: 10px 20px;
    text-decoration: none;
    color: dimgray;
}

.bottomFooterLink:hover {
    text-decoration: underline;
}

#ecoLogo {
    margin-right: 5px;
    width: 12px;
}

.bottomFooterNav {

}

.bottomFooterEco {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

#ecoLink {
    /*border: 1px solid black;*/
    
}

.bottomFooterService {
    min-width: 30%;
    justify-content: flex-end;
}